@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');


* {
    box-sizing: border-box;
}
body {
    color: white;
    margin: 0 0;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    background: #222;
    font-weight: 100;
}

h1 {
    text-align: left;
}

body h1{
    font-weight: 400;
}

body h2{
    font-weight: 100;
    font-size: 120%;
}

img {
    max-width: 100%;
    height: auto;
}


/*header*/

header{
    vertical-align: middle; 
    background: #222;
    margin: 0 15vw;
    padding: 2em 0;
    border-bottom: 2px solid white;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin: 1em;
}

nav a {
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    padding: .5em;
    color: white;
}

.about, .projects, .resume{
    margin: 0 20vw;
}


.diag-banner {
    text-align: left;
    background-image: url(../img/diagbanner.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding: 12vh 0;
    font-size: 3vw;
}

.diag-banner h1{
    margin: 1em;
    padding: 0 0;
}

.nav-left{
    float: left;
}

.nav-right{
    float: right;
}

footer, .resume {
    text-align: center;
}