@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');


* {
    box-sizing: border-box;
}
body {
    color: white;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background: #222;
}

h1 {
    font-weight: 100;
}

body h1{
    text-align: left;
    padding: 0 2em;
}

img {
    max-width: 100%;
    height: auto;
}


/*header*/

header{
    vertical-align: middle; 
    background: #222;
    padding: 2vh 0;
}

nav ul{
    margin: 0;
    padding 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin 1em;
}

nav a {
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    padding: .5em;
    color: white;
}

.diag-banner {
    text-align: left;
    background-image: url(../img/diagbanner.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding: 2em 0;
    font-size: 3vw;
}

.diag-banner h1{
    margin: 1em;
    padding: 0 0;
}