@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}



/*header*/

header{
    margin-top: 1em;
}

nav ul{
    margin: 0;
    padding 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin 1em;
}

nav a {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    padding: .5em;
}